<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/kodchasan" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/create.css">
    <title>log page</title>
</head>
<body>
    <div class="global">
        <div class="loggo">
            <div class="log">
                <div class="connect">
                    Créez votre compte
                </div>
                <div class="mail">
                    Email <br>
                    <input type="email" autocomplete="off" name="email" class="input" placeholder="Entrer votre mail...">
                </div>
                <div class="password">
                    Mot de passe<br>
                    <input type="password" autocomplete="off" name="password" class="input" placeholder="Entrer votre mot de passe...">
                </div>
                <div class="confpassword">
                    Confirmation <br> mot de passe <br>
                    <input type="password" autocomplete="off" name="password" class="input" placeholder="Réentrer votre mot de passe...">
                </div>
                <button class="button" href="http://localhost:8000/user/login">CRÉER</button>
            </div>
            <hr size="5" color="#000000">
            <div class="logo">
                <img src="../img/Logo togoodtolive.png">
            </div>
        </div>  
    </div>
</body>
</html>