<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>log page</title>
</head>
<body>
    <div class="global">
        <div class="loggo">
            <div class="log">
                <div class="connect">
                    Se connecter
                </div>
                <div class="mail">
                    Email <br>
                    <input type="email" autocomplete="off" name="email" class="input" placeholder="Entrer votre mail...">
                </div>
                <div class="password">
                    Mot de passe<br>
                    <input type="password" autocomplete="off" name="password" class="input" placeholder="Entrer votre mot de passe...">
                </div>
                <button class="button" href="http://localhost:8000/user/login">CONNEXION</button>
                <div class="create">
                    <div class="account">Créé votre compte <a class="here" href="">ici</a></div>
                  <div class="mdp">Mot de passe oublié <a class="here" href="">ici</a></div>
                </div>
            </div>
            <hr size="5" color="#000000">
            <div class="logo">
                <img src="../img/Logo togoodtolive.png">
            </div>
        </div>
        <p class="ps"><a class="redirect" href="">Profiter du site</a></p>
        <P class="sc"><a class="redirect" href="">sans compte</a></P>  
    </div>
</body>
</html>