<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="https://fonts.cdnfonts.com/css/kodchasan" rel="stylesheet">
    <title>TO GOOD TO GO</title>
</head>

<body>
    <div class="all">
        <div class="info-profil">
            <div class="data">
                <div class="titleh1">
                    <h1>SE CONNECTER</h1>
                    <br>
                </div>
                <form method="POST">
                    <div class="email">
                        <label class="info" for="email">EMAIL</label>
                        <input class="input-email" placeholder="exemple@gmail.com" type="email" id="email" name="email">
                    </div>
                    <br>
                    <div class="change-mdp">
                        <label class="info" for="option">MOT DE PASSE</label>
                        <input class="input-password" placeholder="mot de passe" type="password" id="password"
                            name="password">
                    </div>
                    <br>
                    <br>
                    <div class="boutton">
                        <button class="submit" type="submit" href="http://localhost:8000/user/login">CONNEXION</button>
                    </div>
                    <br>
                    <br>
                    <div class="option">
                        <div class="account">
                            <div class="link" href="">Créer un compte &ensp; </div>
                        </div>
                        <div class="seperate"></div>
                        <div class="password">
                            <div class="link" href=""> &ensp; Mot de passe oublié ?</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="logo">
                <!-- <div class="logo-profil"></div> -->
                <img src="/img/big-logo.png" class="logo-profil">
            </div>
            <div class="spacebar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</body>

</html>